package footer 

templ Links() {
	<nav class="footer-links mt-8">
		<ul class="flex justify-center mt-8">
			<li><a href="/terms" class="text-gray-400 hover:text-pink-500">Terms of Service</a></li>
			<li><a href="/dmca" class="text-gray-400 hover:text-pink-500">DMCA</a></li>
		</ul>
	</nav>
}
