package component 

templ Card() {
	<div id="card" class="justify-center text-center items-center hover:scale-105 transition-all duration-300 hover:shadow-md">
		<div id="card-body" class="overflow-visible py-2">
			<img src="" alt="card background" height="230" width="270"/>
		</div>
	</div>
	<div id="card-footer" class="pt-0">
		<p class="text-tiny text-center"></p>
	</div>
}
